<footer class="footer">
    <div class="container">
        <div class="info">
            <img class="logo" src="assets/img/logo2.png" alt="">
            <p class="author">
                <i class="fa fa-copyright" aria-hidden="true"></i>
                Copyright 2019 KALLYAS - Hogash
                Studio. All rights reserved.
            </p>
            <div class="wrapper-partners">
                <p class="title">Our partners</p>
                <ul class="partners">
                    <li class="partners__item">
                        <a href="#"><img src="assets/img/star.png" alt=""></a>
                    </li>
                    <li class="partners__item">
                        <a href="#"><img src="assets/img/star.png" alt=""></a>
                    </li>
                    <li class="partners__item">
                        <a href="#"><img src="assets/img/star.png" alt=""></a>
                    </li>
                    <li class="partners__item">
                        <a href="#"><img src="assets/img/star.png" alt=""></a>
                    </li>
                    <li class="partners__item">
                        <a href="#"><img src="assets/img/star.png" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="socials">
                <a class="socials__item" href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a class="socials__item" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a class="socials__item" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a class="socials__item" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- <div class="menu">
            <div class="categories">
                <h6></h6>
                <ul>
                    <li> <a href="#"></a></li>
                </ul>
            </div>
        </div> -->
    </div>


</footer>