<footer class="footer">
    <div class="container">
        <div class="info">
            <img class="logo" src="assets/img/logo2.png" alt="">
            <p class="author">
                <i class="fa fa-copyright" aria-hidden="true"></i>
                Copyright 2019 KALLYAS - Hogash
                Studio. All rights reserved.
            </p>
            <div class="wrapper-partners">
                <p class="title">Our partners</p>
                <ul class="partners">
                    <li class="partners__item">
                        <a href="#"><img src="assets/img/star.png" alt=""></a>
                    </li>
                    <li class="partners__item">
                        <a href="#"><img src="assets/img/star.png" alt=""></a>
                    </li>
                    <li class="partners__item">
                        <a href="#"><img src="assets/img/star.png" alt=""></a>
                    </li>
                    <li class="partners__item">
                        <a href="#"><img src="assets/img/star.png" alt=""></a>
                    </li>
                    <li class="partners__item">
                        <a href="#"><img src="assets/img/star.png" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="socials">
                <a class="socials__item" href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a class="socials__item" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a class="socials__item" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a class="socials__item" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
        <nav class="main">
            <div class="categories">
                <h6 class="title">Movies & Serials</h6>
                <div class="wrapper-list">
                    <ul class="list">
                        <li class="list__item"> <a href="#">Action</a></li>
                        <li class="list__item"> <a href="#">Adventure</a></li>
                        <li class="list__item"> <a href="#">Animation</a></li>
                        <li class="list__item"> <a href="#">Biographi</a></li>
                        <li class="list__item"> <a href="#">Comedy</a></li>
                        <li class="list__item"> <a href="#">Crime</a></li>
                        <li class="list__item"> <a href="#">Documentary</a></li>
                        <li class="list__item"> <a href="#">Drama</a></li>
                        <li class="list__item"> <a href="#">Famili</a></li>
                        <li class="list__item"> <a href="#">Fantasy</a></li>
                    </ul>
                    <ul class="list">
                        <li class="list__item"> <a href="#">Film noir</a></li>
                        <li class="list__item"> <a href="#">History</a></li>
                        <li class="list__item"> <a href="#">Horror</a></li>
                        <li class="list__item"> <a href="#">Music</a></li>
                        <li class="list__item"> <a href="#">Musical</a></li>
                        <li class="list__item"> <a href="#">Mystery</a></li>
                        <li class="list__item"> <a href="#">Romance</a></li>
                        <li class="list__item"> <a href="#">Sci-fi</a></li>
                        <li class="list__item"> <a href="#">Short</a></li>
                        <li class="list__item"> <a href="#">Sport</a></li>
                    </ul>
                    <ul class="list">

                        <li class="list__item"> <a href="#">superhero</a></li>
                        <li class="list__item"> <a href="#">Thriller</a></li>
                        <li class="list__item"> <a href="#">War</a></li>
                        <li class="list__item"> <a href="#">Western</a></li>
                    </ul>
                </div>

            </div>
            <div class="menu">
                <h6 class="title">Others</h6>
                <div class="wrapper-list">
                    <ul class="list">
                        <li class="list__item"><a href="#">home</a></li>
                        <li class="list__item"><a href="#">Top rated Movies</a></li>
                        <li class="list__item"><a href="#">Box office</a></li>
                        <li class="list__item"><a href="#">TV</a></li>
                        <li class="list__item"><a href="#">Coming soon</a></li>
                        <li class="list__item"><a href="#">Site index</a></li>
                        <li class="list__item"><a href="#">Search</a></li>
                        <li class="list__item"><a href="#"> In theaters</a></li>
                        <li class="list__item"><a href="#">Contact us</a></li>
                        <li class="list__item"><a href="#">Register</a></li>
                    </ul>
                    <ul class="list">
                        <li class="list__item"><a href="#">News</a></li>
                        <li class="list__item"><a href="#">Press room</a></li>
                        <li class="list__item"><a href="#">Advertisign</a></li>
                        <li class="list__item"><a href="#">Jobs</a></li>
                        <li class="list__item"><a href="#">Conditions of use</a></li>
                        <li class="list__item"><a href="#">Privacy policy</a></li>
                        <li class="list__item"><a href="#">Interest-basec ads</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>


</footer>