<header class="home-header">
    <div class="top-line container">
        <a class="logo" href="#"><img class="logo__img" src="assets/img/logo.png" alt=""></a>
        <nav>
            <ul class="top-menu">
                <li class="top-menu__item"><a href="#">Homepage</a></li>
                <li class="top-menu__item"><a href="#">Serials</a></li>
                <li class="top-menu__item"><a href="#">Movies</a></li>
                <li class="top-menu__item"><a href="#">Favorites</a></li>
                <li class="top-menu__item"><a href="#">My List</a></li>
            </ul>

        </nav>
        <form class="search-form" action="">
            <input class="search-form__input" type="text" placeholder="Search...">
            <button class="search-form__button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
        <a class="top-line__login" href="#">Login</a>
        <a class="top-line__subscribe" href="#">Sign up</a>
    </div>
</header>