<header class="home-header">
    <div class="top-line container">
        <a class="logo" href="#"><img class="logo__img" src="assets/img/logo.png" alt=""></a>
        <nav>
            <ul class="top-menu">
                <li class="top-menu__item"><a class="top-menu__item__link" href="#">Homepage</a></li>
                <li class="top-menu__item"><a class="top-menu__item__link" href="#">Serials</a></li>
                <li class="top-menu__item"><a class="top-menu__item__link" href="#">Movies</a></li>
                <li class="top-menu__item"><a class="top-menu__item__link" href="#">Favorites</a></li>
                <li class="top-menu__item"><a class="top-menu__item__link" href="#">My list</a></li>
            </ul>

        </nav>
        <div class="wrapper">
            <form class="search-form" action="">
                <input class="search-form__input" type="search" placeholder="Search...">
                <button class="search-form__button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
            <a class="login" href="#">Login</a>
            <a class="subscribe" href="#">Sign up</a>
        </div>

    </div>
</header>