$blue: #020d18;
$blue2: #0c1118;
$light-blue:#37a3df;
$blue-button:#15202b;
$white:#fff;
$black:#000;
$yellow:#f4b01e;
$orange:#df5f37;
$red:#f10e1f;
$red-button:#fe0f20;
$gray:#b0b0b0;
$dark-grey:#4c4c4c;
