.slick-slider {
    position: relative;
    .slick-arrow {
        cursor: pointer;
        position: absolute;
        color: $white;
        opacity: 0.3;
        top: 50%;
    }
    .slider-item {
        a {
            display: block;
            position: relative;
        }
    }

    &.slider {
        .slick-arrow {
            font-size: 30px;
            margin-top: -14px;
            &.slick-prev {
                left: -50px;
            }
            &.slick-next {
                right: -40px;
            }
        }
        .slider-item {
            max-height: 197px;
        }
    }
    &.slider2 {
        .slick-slide {
            height: 26px;
        }
        .slick-arrow {
            font-size: 20px;
            margin-top: -10px;
            &.slick-prev {
                left: -50px;
            }
            &.slick-next {
                right: -40px;
            }
        }
    }
}
