.slider {
    position: relative;
    .slick-arrow {
        cursor: pointer;
        font-size: 30px;
        position: absolute;
        margin-top: -14px;
        top: 50%;
        color: $white;
        opacity: 0.3;
        &.slick-prev {
            left: -50px;
        }
        &.slick-next {
            right: -40px;
        }
    }

    div {
        max-height: 197px;
        a {
            display: block;
            position: relative;
        }
    }
}
