@import "colors";

.content-6 {
    padding: 50px 0;
    .container {
        display: flex;
        justify-content: space-between;
        .info {
            width: 461px;
            &__name {
                font-size: 36px;
                line-height: 100%;
                margin-top: 70px;
            }
            &__story {
                font-weight: 300;
                line-height: 23px;
            }
            .story-1 {
                margin-top: 40px;
            }
            .story-2 {
                margin: 25px 0;
            }
            &__reading {
                text-transform: capitalize;
                font-weight: 400;
                // margin-top: 25px;не работает
                transition: color 0.3s ease-in-out;
                &:hover {
                    color: darken($white, 25);
                }
                i{
                    margin-left: 6px;
                    font-size: 10px;
                }
            }
        }
        .decoration {
            width: 1px;
            height: 500px;
            background-color: $gray;
            opacity: 0.5;

        }
        .articles {
            display: flex;
            flex-direction: column;
            gap: 37px;
            margin-top: 25px;
            &__item {
                display: flex;
                width: 290px;
                .articles__img {
                    margin-right: 25px;
                }
                .wrapper {
                    line-height: 23px;
                    .text1 {
                        margin-top: 5px;
                        color: $white;
                        font-weight: 400;
                    }
                    .text2 {
                        font-weight: 300;
                        font-size: 12px;
                        color: $dark-grey;
                        transition: color 0.3s ease-in-out;
                        &:hover {
                            color: lighten($dark-grey, 25);
                        }
                    }
                }
            }
        }
    }
}
