@import "colors";

.content-3 {
    h5 {
        margin-bottom: 35px;
    }
    .slider2 {
        width: 80%;
        margin: 0 auto;
        .slick-list {
            margin: 0 auto;
        }
        &__item {
            &--active {
                background-color: $red-button;
                &:hover {
                    background-color: darken($red-button, 15);
                }
            }
        }
    }
    .categories {
        .list {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            .list__item {
                margin-top: 55px;
                display: inline-block;
                a {
                    display: block;
                    .name {
                        margin-top: 25px;
                    }
                }
                .wrapper {
                    display: flex;
                    justify-content: space-between;
                    color: $dark-grey;
                    margin-top: 12px;
                    .btn-group {
                        display: flex;
                        gap: 10px;
                        button {
                            cursor: pointer;
                            background-color: transparent;
                            border: none;
                            color: $dark-grey;
                            i {
                                padding-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
