@import "colors";

.content-4 {
    padding: 60px 0;
    background-color: $blue2;
    .container {
        display: flex;
        justify-content: space-between;
        .info {
            padding-top: 115px;
            .categories {
                .tag:not(:last-child){
                    margin-right: 13px;
                }
            }
            &__name {
                margin-top: 20px;
                font-size: 36px;
            }
            &__story {
                width: 470px;
                margin-top: 40px;
            }
            .wrapper {
                text-transform: uppercase;
                font-size: 12px;
                margin-top: 45px;
                .btn:first-child{
                    margin-right: 25px;
                }
            }
        }
        .film-poster {
            &__img {
                margin-right: 60px;
                margin-top: 10px;
            }
        }
    }
}