@import "colors";

.content-3 {
    h5{
    margin-bottom: 35px;   
    }
    .slider2 {
        
        width: 80%;
        margin: 0 auto;
        .slick-list{
            margin: 0 auto;
        }
        &__item {
            &--active {
                background-color: $red-button;
                &:hover {
                    background-color: darken($red-button, 15);
                }
            }
        }
    }
    .categories{
       ul{
           display: flex;
           flex-wrap: wrap;
           gap: 15px;
           li{
               display: inline-block;
               a{
                   display: block;
               }
               div{
                   display: flex;
                   justify-content: space-between;
               }

           }
       } 
    }
}
