.footer {
  background: #000b15;
  .container {
    .info {
      width: 260px;
      .logo {
        margin-top: 57px;
      }
      .author {
        margin-top: 27px;
        font-weight: 300;
        line-height: 20px;
        i {
          margin-right: 5px;
        }
      }
      .wrapper-partners {
        margin-top: 50px;
        .title {
          font-weight: 300;
        }
        .partners {
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          .partners__item {
            display: block;
            margin-top: 1px;
          }
        }
      }
      .socials {
        margin-top: 50px;
        .socials__item {
          font-size: 24px;
          margin-right: 13px;
          color: $gray;
        }
      }
    }
  }
}
