@import "colors";

.home-header {
    .top-line {
        display: flex;
        justify-content: space-between;
        a {
        }
        nav {
            .top-menu {
                display: flex;
                .top-menu__item {
                    display: block;
                }
            }
        }
        .search-form {
            .search-form__input {
            }
            .search-form__button {
            }
        }
        .top-line__login {
        }
        .top-line__subscribe {
        }
    }
}
