@import "colors";

.home-header {
    .top-line {
        display: flex;
        justify-content: space-between;
        height: 110px;
        align-items: center;
   
        nav {
            .top-menu {
                display: flex;
                justify-content: space-between;
                gap: 35px;
                &__item {
                    display: block;
                    &__link {
                        text-transform: capitalize;
                        transition: color 0.3s ease-in-out;
                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
        }
        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            .search-form {
                position: relative;
                &__input {
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid $red;
                    padding-bottom: 3px;
                    color: $red;
                    font-size: 14px;
                    
         
                    &::placeholder{
                        color: $red;
                        font-size: 10px;
                        font-weight: 300;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                &__button {
                    background-color: transparent;
                    border: none;
                    position: absolute;
                    color: $red;
                    right: 0px;
                    cursor: pointer;
                }
            }
        }
    }
}
