@import "colors.scss";
@import "fonts.scss";
@import "variables";
@import "buttons";
@import "slider";
@import "tags";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background: url("../img/bg1.jpg") center top no-repeat, $blue;
    color: $gray;
    font-size: 14px;
    line-height: 23px;
}

.flex {
    display: flex;
}

.container {
    width: 73.125rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $white;
}

h3 {
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
}

h4 {
    font-weight: 600;
    text-transform: uppercase;
    color: $white;
}
h5 {
    text-transform: uppercase;
    font-weight: 300;
    color: #b0b0b0;
}
h6 {
    font-weight: 500;
    font-size: 14px;
}

@import "slick";
@import "header";
@import "content-1";
@import "content-2";
@import "content-3";
@import "content-4";
@import "content-5";
@import "content-6";
@import "news";
@import "sale";
@import "popular";
@import "footer";
